.project-card
    width: 100%
    .card-text
        @include formatTextline($themeColorFiveHex,left,0.5rem 0, inherit,1rem,300, 0.5rem)
    .card-img-overlay
        text-align: center
        top: 20%
        bottom: unset
        left: 0
        right: 0
    img
        transform: scale(1.05)
        filter: blur(3px) opacity(.7)
        -o-filter: blur(3px) opacity(.7)
        -ms-filter: blur(3px) opacity(.7)
        -moz-filter: blur(3px) opacity(.7)
        -webkit-filter: blur(3px) opacity(.7)